<navbar></navbar>

<section class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <div class="row">
        <div class="col-md-4">
          <span>Pesquise o seu problema:</span>
          <input type="text" class="form-control" name="" value="" placeholder="Pesquise o problema">
        </div>
        <div class="col-md-8">
          <div class="panel-group" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" href="#ajuda1" aria-controls="ajuda1">
                <h4 class="panel-title">
                  Como compar?
                </h4>
              </div>
              <div id="ajuda1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  Facilitamos de todas as maneiras
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
