@import "responsive.css";

:root {
  --cor1: #F2F2F2; /* Cinca claro */
  --cor2: #D6D8D7; /* Cinca */
  --cor3: #646066; /* Cinca escuro */
  --cor4: #01B08B; /* Verde */
  --cor5: #CC1467; /* Rosa */
}

 /* Estilos gerais */
html, body {
  background-color: var(--cor1);
}
.animacao {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.vertical-center {
  display: flex !important;
  align-items: center;
}
.uma-linha-text {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow: hidden;
}
.btn { box-shadow: none !important}
.fa {
  width: 18px;
  text-align: center;
}
.fa-2x {
  width: 28px;
}
.form-control { box-shadow: none !important }
/* Fim dos estilos gerais */

.navbar {
  background-color: #fff;
  border-radius: 0;
  border: 0;
  border-top: 4px var(--cor4) solid;
}
.navbar-toggle {
  margin-top: 20px;
  border: none;
  background-color: #fff !important;
}
.navbar-toggle .icon-bar {
  background-color: var(--cor3) !important;
}
.navbar-brand {
  height: inherit;
}
.navbar-brand > img {
  height: 80px;
}
.navbar-nav > li > a > i {
  margin-right: 5px;
}
.navbar-nav > li:hover > a {
  color: var(--cor4) !important;
}

.card-evento {
  background-color: #fff;
  border-radius: 3px;
  border: 1px var(--cor2) solid;
  margin-bottom: 15px;
}
.card-evento .info-card-evento { padding: 0 15px; }
.card-evento .table-card-evento {
  margin-bottom: 10px;
}
.card-evento .table-card-evento td {
  border: 0;
  width: 50%;
  padding: 2px 8px;
}
.card-evento .table-card-evento td i {
  color: var(--cor5);
}
.card-evento .btn-card-evento {
  font-size: 18px;
  text-align: right;
  margin: 0;
  padding: 6px 25px;
  width: 100%;
  color: var(--cor4);
  border-radius: 0;
  border-top: 1px var(--cor2) solid;
}

.box-ajuda {
  position: fixed;
  bottom: 15px;
}
.box-ajuda .btn-ajuda {
  background-color: var(--cor4);
  color: #fff;
  border-radius: 50px;
  padding: 6px;
  padding-right: 15px;
}
.box-ajuda .btn-ajuda:hover {
  opacity: 0.8;
}
.box-ajuda .btn-ajuda i {
  margin-right: 5px;
}

.box-img-banner-evento {
  margin-top: -20px;
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(35%);
}
.box-evento-info {
  margin-top: -80px;
  width: 100%;
  border-radius: 3px;
  border: 1px var(--cor2) solid;
  background-color: #fff;
}
.box-evento-mapa {
  pointer-events: none;
}
.box-evento-descricao {
  padding: 0 15px;
  text-align: justify;
}
.nav-menu-top-box-evento {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-menu-top-box-evento .btn {
  padding: 13px 15px;
  width: 35%;
  color: var(--cor3);
  justify-content: center;
  border-radius: 0;
  border: 0;
}
.nav-menu-top-box-evento .btn-comprar {
  color: var(--cor4);
  width: 40%;
}
.nav-menu-top-box-evento .btn:hover {
  background-color: var(--cor4);
  color: #fff;
}
.nav-menu-top-box-evento .btn i { margin-right: 5px }
.nav-menu-periodo-evento {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.nav-menu-periodo-evento li {
  width: 100px !important;
  background: none !important;
  border-bottom: 2px transparent solid !important;
  color: var(--cor3) !important;
}
.nav-menu-periodo-evento li:hover, .nav-menu-periodo-evento li.active {
  border-bottom-color: var(--cor4) !important;
}
.nav-menu-periodo-evento .item-menu-periodo-evento .item-menu-mes {
  font-size: 12px;
  display: block;
}
.nav-menu-periodo-evento .item-menu-periodo-evento .item-menu-dia {
  font-size: 18px;
  display: block;
  line-height: 1;
}
.nav-menu-periodo-evento .item-menu-periodo-evento .item-menu-semana {
  display: block;
  font-size: 13px;
  line-height: 1;
}

.list-galeria-evento {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.item-galeria-evento {
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-position: 50% 50%;
  margin: 5px;
  padding: 0;
  border-radius: 0;
  overflow: hidden;
}
.item-zoom-galeria-evento {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  background-color: #fff;
  color: var(--cor3);
  opacity: 0.8;
  justify-content: center;
}
.item-galeria-evento:hover .item-zoom-galeria-evento {
  margin-top: 0;
}

.space-comprar { margin-top: 10px }
.table-responsive { border: 0 !important }
.table-categoria-ingresso tr { overflow: hidden; }
.table-categoria-ingresso tr td {
  padding: 10px 5px !important;
  vertical-align: middle !important;
}
.table-categoria-ingresso tr:last-child td { border-bottom: 1px solid #ddd }
.box-qtd { width: 50%; }
.box-qtd .qtd-ingressos {
  margin: 0;
  padding: 0;
}
.box-qtd .qtd-ingressos input {
  cursor: not-allowed !important;
  background-color: #fff;
  height: 28px;
  outline: none;
  border-color: #ddd;
}

.btn-evento-comprar {
  background-color: var(--cor4);
  color: #fff !important;
  border-radius: 0;
  padding: 6px 20px;
}

.btn-avancar-carrinho {
  width: 40%;
  border: 0;
  border-bottom: 2px var(--cor4) solid;
  border-top: 2px var(--cor4) solid;
  color: var(--cor4) !important;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 10px auto;
}
.btn-avancar-carrinho i {
  font-size: 60px;
}
.btn-avancar-carrinho span {
  font-size: 16px;
  position: relative;
  bottom: 14px;
  margin-right: 10px
}
