@media (max-width: 992px) /* Notebook */ {
}

@media (min-width: 768px) /* Tables ou maiores */ {
  .navbar-nav { margin-top: 25px; }
  .card-evento:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 50px #ccc;
  }
  .table-categoria-ingresso tr td:first-child::before {
    content: '>';
    position: relative;
    margin-left: -15px;
    width: 2px;
    height: 2px;
    margin-right: 5px;
    color: gray;

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .table-categoria-ingresso tr:hover td:first-child::before {
    margin-left: 0;
  }
}
@media (max-width: 768px) /* Tables ou menores */ {
  .navbar-brand > img { height: 40px !important; }
  .navbar-nav { text-align: center; }
  .navbar-nav > li { display: inline-block; }
  .btn-close-zoom-galeria-evento { font-size: 22px; }
  .nav-menu-periodo-evento .item-menu-periodo-evento .item-menu-mes {
    font-size: 10px !important;
  }
  .nav-menu-periodo-evento .item-menu-periodo-evento .item-menu-dia {
    font-size: 16px !important;
  }
  .nav-menu-periodo-evento .item-menu-periodo-evento .item-menu-semana {
    font-size: 8px !important;
  }
  .box-qtd { width: 50% !important; }
  .nav-menu-periodo-evento { justify-content: center !important; }
}

@media (max-width: 425px) /* Mobile */ {
}
