<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" ng-include="'view/navbar.html'"></nav>

<!-- Intro Header -->
<header class="intro" ng-include="'view/header.html'"></header>

<section style="margin-top: 50px;margin-bottom: 50px">
  <div class="container">
    <div class="row">
      <div class="col-md-9">

        <div class="panel panel-default panel-anuncio view-evento">
          <div class="panel-body" ng-show="exibe_anuncio">
            <img src="{{evento.urlImg}}" alt="{{evento.titulo}}" class="img-responsive" />
            <h3 class="text-center">{{evento.titulo}}</h3><br/>
            <p style="width: 80%" class="center-block">{{evento.descricao}}</p>

            <!-- Informações do Evento -->
            <h4 class="titulo">Informações do evento:</h4>
            <div class="menu">
              <span class="menu-item" ng-if="evento.horario"><span class="glyphicon glyphicon-time"></span> {{evento.horario + 'h'}}</span>
              <span class="menu-item" ng-if="evento.data"><span class="glyphicon glyphicon-calendar"></span> {{evento.data | date : 'dd MMM yyyy'}}</span>
              <span class="menu-item" ng-if="evento.local"><span class="glyphicon glyphicon-map-marker"></span> {{evento.local}}</span>
            </div>

            <!-- Localização no mapa -->
            <div ng-if="evento.urlMapa">
              <h4 class="titulo">Veja a localização no mapa:</h4>
              <iframe width="80%" height="150" src="{{evento.urlMapa | trustAsResourceUrl}}" frameborder="0" style="border:0" allowfullscreen class="center-block" ></iframe>
            </div>

            <!-- Vídeo do evento -->
            <div ng-if="evento.urlVideo">
              <h4 class="titulo">Vídeo do evento:</h4>
              <iframe width="80%" height="200" src="{{evento.urlVideo | trustAsResourceUrl}}" frameborder="0" allowfullscreen class="center-block" ></iframe>
            </div>

            <!-- Vídeo do evento -->
            <h4 class="titulo">Compartilhe nas redes sociais:</h4>
            <a href="#" class="btn btn-default bg-info text-primary"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
            <a href="#" class="btn btn-default bg-success text-success"><i class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp</a>
            <a href="#" class="btn btn-default bg-warning text-warning"><i class="fa fa-envelope" aria-hidden="true"></i> E-mail</a>
          </div>
          <div class="panel-body text-center" ng-show="!exibe_anuncio">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <h2>Estamos carregando algumas informações</h2>
            <h4>Por favor aguarde um instante</h4>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <painelevento ng-repeat="outerEvento in outerEventos" titulo="{{outerEvento.titulo}}" img="{{outerEvento.urlImg}}" urlid="{{outerEvento.id}}" ng-if="evento.id != outerEvento.id" >
          <div class="menu menu-mini" painelevento-menu data="{{outerEvento.data}}" local="{{outerEvento.local}}"></div>
        </painelevento>
      </div>
    </div>
  </div>
</section>

<footer ng-include="'view/footer.html'"></footer>
