<div class="container">
  <div class="row">
    <div class="pre-footer">
      <div class="col-md-4 redes-socias">
        <h4>Siga-nos nas redes sociais:</h4>
        <a><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
        <a><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <span>Todos os direitos reservados <span  class="pull-right">Desenvolvido por: <a href="http://cheype.com.br">Cheype</a></span></span>
    </div>
  </div>
</div>

<script type="text/javascript">
$(window).scroll(function() {
    if ($(".navbar").offset().top > 50) {
        $(".navbar-fixed-top").addClass("top-nav-collapse");
    } else {
        $(".navbar-fixed-top").removeClass("top-nav-collapse");
    }
});
</script>
