<!-- Script para exibir as fotos do instagram -->
<script src="//lightwidget.com/widgets/lightwidget.js"></script>

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" ng-include="'view/navbar.html'"></nav>

<!-- Intro Header -->
<header class="intro" ng-include="'view/header.html'"></header>

<section id="list-eventos" style="margin-top: 50px">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">

          <div class="col-md-6 col-sm-6" ng-repeat="evento in eventos">
            <painelevento titulo="{{evento.titulo}}" img="{{evento.urlImg}}" urlid="{{evento.id}}">
              <div class="menu" painelevento-menu data="{{evento.data}}" local="{{evento.local}}"></div>
            </painelevento>
          </div>
        </div>
        <div class="text-center">
          <a href="#" class="btn btn-default btn-veja-mais">Veja mais eventos</a>
        </div>
      </div>
    </div>

    <h2 class="titulo">Instagram:</h2>
    <iframe src="//lightwidget.com/widgets/78dac28103175d639a15962c1090e026.html" scrolling="no" allowtransparency="true" class="lightwidget-widget visible-md visible-lg" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    <iframe src="//lightwidget.com/widgets/938165be5e29540bbf6830a1994c3d78.html" scrolling="no" allowtransparency="true" class="lightwidget-widget visible-sm visible-xs" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    <div style="height: 30px"></div>
  </div>
</section>

<section id="redes-socias">
  <div class="container">

  </div>
</section>

<footer ng-include="'view/footer.html'"></footer>
