<navbar></navbar>

<section class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2 class="uma-linha-text">Informações da compra{{' - ' + carrinho.titulo}}</h2>

      <div class="table-responsive">
        <table class="table table-carrinho">
          <tr>
            <th width="15%">Data</th>
            <th width="40%">Ingresso / Atração</th>
            <th class="text-center hidden-sm hidden-xs">Lote</th>
            <th class="text-center">Qtd</th>
            <th class="text-right hidden-sm hidden-xs">V. Unitário</th>
            <th class="text-right">V. Total</th>
          </tr>
          <tr ng-repeat="ingresso in carrinho.ingressos">
            <td>{{ingresso.data | date : "dd/MM/yyyy"}}</td>
            <td>{{ingresso.nome}}<br><small>{{ingresso.atracao}}</small></td>
            <td class="text-center hidden-sm hidden-xs">1</td>
            <td class="text-center">{{ingresso.quantidade}}</td>
            <td class="text-right hidden-sm hidden-xs">{{ingresso.valor | currency}}</td>
            <td class="text-right">{{ingresso.valor * ingresso.quantidade | currency}}</td>
          </tr>
          <tr>
            <td colspan="6"></td>
          </tr>
        </table>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-7">
          <div class="table-responsive">
            <table class="table table-carrinho">
              <tr>
                <td colspan="2">Taxa do serviço</td>
                <td class="text-right">{{total_voucher * carrinho.taxa | currency}}</td>
              </tr>
              <tr>
                <td colspan="2"><strong>Total</strong></td>
                <td class="text-right"><strong>{{total_voucher + total_voucher * carrinho.taxa | currency}}</strong></td>
              </tr>
              <tr>
                <td colspan="3"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <h4 class="titulo-carrinho"><span>Informações do cliente</span></h4>
      <div class="row espaco-bottom">
        <div class="animacao" ng-class="{'col-md-6 col-md-offset-3': login, 'col-md-3 col-md-offset-1': !login}">
          <form method="post">
            <span>CPF:</span>
            <input type="text" name="" value="" class="form-group form-control">
            <span>Senha:</span>
            <input type="password" name="" value="" class="form-group form-control">
            <input type="submit" name="" value="Esqueceu a senha?" class="btn text-danger" ng-click="login=!login;getLogin()" ng-show="login" style="background-color: transparent">
            <input type="submit" name="" value="Verificar usuário" class="pull-right btn btn-cor4" ng-click="login=!login;getLogin()" ng-show="login">
            <p class="text-success text-center" ng-hide="login">Lhe encontramos!</p>
          </form>
        </div>
        <div class="col-md-7" ng-show="logado">
          <span>Nome completo:</span>
          <input type="text" name="" value="João Eymard Duarte Barbosa" class="form-group form-control" readonly>
          <span>Telefones:</span>
          <input type="text" name="" value="(88) 99911-4867 / (88) 99752-7156" class="form-group form-control" readonly>
          <span>Email:</span>
          <input type="text" name="" value="eymarduarte12@hotmail.com" class="form-group form-control" readonly>
        </div>
      </div>

      <h4 class="titulo-carrinho"><span>Informações de pagamento</span></h4>
      <div class="row espaco-bottom">
        <div class="">

        </div>
      </div>


      <a href="#" class="btn btn-avancar-carrinho"><span>Concluir a Compra </span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div>
</section>

<btn-ajuda></btn-ajuda>
