<navbar></navbar>

<header class="box-img-banner-evento" style="background-image: url('{{evento.imagem}}')">
  <div class="filter-banner-evento"></div>
</header>

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="box-evento-info">
        <div class="nav-menu-top-box-evento">
          <a class="btn vertical-center animacao"><i class="fa fa-file-text" aria-hidden="true"></i> Imprimir Voucher</a>
          <a scroll-to="#periodo-evento" offset="20" duration="200" class="btn btn-comprar vertical-center animacao"><i class="fa fa-ticket fa-2x" aria-hidden="true"></i> Comprar agora</a>
        </div>

        <div style="padding: 0 15px">
          <h1>{{evento.titulo}}</h1>

          <div class="box-evento-descricao">
            <div class="col-sm-7 pull-right" ng-if="evento.mapa">
              <iframe src="{{evento.mapa | trustAsResourceUrl}}" class="box-evento-mapa" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            {{evento.descricao}}
            <div style="clear: both;"></div>
          </div>

          <hr id="periodo-evento">
          <ul class="nav-menu-top-box-evento nav-menu-periodo-evento" data-ng-init="ingressoShow = 0">
            <div ng-repeat="periodo in evento.periodo">
              <li class="btn vertical-center animacao" ng-class="{'active': ingressoShow==$index}" ng-click="mudouIngresso($index)">
                <div class="item-menu-periodo-evento">
                  <span class="text-uppercase item-menu-mes">{{periodo.data | date: "MMM" }}</span>
                  <span class="item-menu-dia">{{periodo.data | date: "dd" }}</span>
                  <span class="text-capitalize text-muted item-menu-semana"><small>{{periodo.data | date: "EEEE" }}</small></span>
                </div>
              </li>
            </div>
          </ul>
          <div class="space-comprar" ng-repeat="periodo in evento.periodo" ng-show="ingressoShow==$index">
            <div class="col-sm-5">
              <h4>Programação:</h4>
              <p>{{periodo.atracao}}</p>
            </div>
            <div class="col-sm-7">
              <div class="table-responsive">
                <table class="table table-condensed table-categoria-ingresso" ng-init="min = 0; max = 5;">
                  <tr ng-repeat="categoria in periodo.categoria">
                    <td>{{categoria.nome}}<br><span class="text-success">{{categoria.valor | currency}}</span></td>
                    <td class="box-qtd">
                      <div class="input-group qtd-ingressos" data-ng-init="categoria.quantidade = 0">
                        <span class="input-group-addon menos btn" ng-click="categoria.quantidade > min ? categoria.quantidade = categoria.quantidade-1 : categoria.quantidade">-</span>
                        <input type="text" class="form-control text-center" value="{{categoria.quantidade}}" ng-model="categoria.quantidade" min="{{min}}" max="{{max}}" readonly="">
                        <span class="input-group-addon mais btn" ng-click="categoria.quantidade < max ? categoria.quantidade = categoria.quantidade+1 : categoria.quantidade">+</span>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div style="clear: both"></div>

          <div class="text-right">
            <a class="btn btn-cor4" scroll-to="#header" duration="0" ng-click="comprar_ingressos()" >Comprar Ingressos</a>
          </div>
          <hr>

        </div>

      </div>
      <p class="col-xs-12" style="margin-top: 5px">
        <small>Anunciado em:</small> {{evento.data_criacao | date : "dd 'de' MMMM 'de' yyyy"}}

        <span class="pull-right">
          <small>Compartilhar:</small>
        </span>
      </p>
    </div>
    <div class="col-md-4">
      <h4>Galeria do evento:</h4>
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-galeria-evento">
            <li class="btn item-galeria-evento">
              <a href="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/19624386_1893404797579708_2276556589294944256_n.jpg" data-lightbox="galeria-evento">
                <img src="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/19624386_1893404797579708_2276556589294944256_n.jpg" alt="" class="img-responsive">
                <span class="item-zoom-galeria-evento vertical-center animacao"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>
              </a>
            </li>
            <li class="btn item-galeria-evento">
              <a href="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/18948258_107059333269194_7173078130054135808_n.jpg" data-lightbox="galeria-evento">
                <img src="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/18948258_107059333269194_7173078130054135808_n.jpg" data-lightbox="galeria-evento" alt="" class="img-responsive">
                <span class="item-zoom-galeria-evento vertical-center animacao"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>
              </a>
            </li>
            <li class="btn item-galeria-evento">
              <a href="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/c0.65.720.720/19761279_1907960666086741_7918927466184310784_n.jpg" data-lightbox="galeria-evento">
                <img src="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/c0.65.720.720/19761279_1907960666086741_7918927466184310784_n.jpg" data-lightbox="galeria-evento" alt="" class="img-responsive">
                <span class="item-zoom-galeria-evento vertical-center animacao"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>
              </a>
            </li>
            <li class="btn item-galeria-evento">
              <a href="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/c0.53.640.640/19624638_1084550881680082_1924491802144931840_n.jpg" data-lightbox="galeria-evento">
                <img src="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/c0.53.640.640/19624638_1084550881680082_1924491802144931840_n.jpg" data-lightbox="galeria-evento" alt="" class="img-responsive">
                <span class="item-zoom-galeria-evento vertical-center animacao"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>
              </a>
            </li>
            <li class="btn item-galeria-evento">
              <a href="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/19624466_457475487944090_7326891045046714368_n.jpg" data-lightbox="galeria-evento">
                <img src="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/19624466_457475487944090_7326891045046714368_n.jpg" data-lightbox="galeria-evento" alt="" class="img-responsive">
                <span class="item-zoom-galeria-evento vertical-center animacao"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="padding: 50px">

</section>

<btn-ajuda></btn-ajuda>
