<navbar></navbar>

<header class="box-img-banner-evento" style="background-image: url('./img/{{evento.img}}')">
  <div class="filter-banner-evento"></div>
</header>

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="box-evento-info">
        <div class="nav-menu-top-box-evento">
          <a class="btn vertical-center animacao"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> <span class="hidden-xs">{{evento.cidade}}</span></a>
          <a class="btn vertical-center animacao"><i class="fa fa-location-arrow fa-2x" aria-hidden="true"></i> <span class="hidden-xs">Traçar rota</span></a>
          <a scroll-to="#periodo-evento" offset="20" duration="200" class="btn btn-comprar vertical-center animacao"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> Comprar agora</a>
        </div>

        <div style="padding: 0 15px">
          <h1>{{evento.titulo}}</h1>

          <div class="box-evento-descricao">
            <div class="col-sm-7 pull-right">
              <iframe src="{{evento.mapa | trustAsResourceUrl}}" class="box-evento-mapa" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            {{evento.descricao}}
          </div>

          <hr id="periodo-evento">
          <ul class="nav-menu-top-box-evento nav-menu-periodo-evento" ng-init="click = 1">
            <li class="btn vertical-center animacao" ng-class="{'active': click==1}" ng-click="click = 1">
              <div class="item-menu-periodo-evento">
                <span class="text-uppercase item-menu-mes">{{evento.periodo[0].data | date: "MMM" }}</span>
                <span class="item-menu-dia">{{evento.periodo[0].data | date: "dd" }}</span>
                <span class="text-capitalize text-muted item-menu-semana"><small>{{evento.periodo[0].data | date: "EEEE" }}</small></span>
              </div>
            </li>
            <li class="btn vertical-center animacao" ng-class="{'active': click==2}" ng-click="click = 2">
              <div class="item-menu-periodo-evento">
                <span class="text-uppercase item-menu-mes">{{evento.periodo[0].data | date: "MMM" }}</span>
                <span class="item-menu-dia">{{evento.periodo[0].data | date: "dd" }}</span>
                <span class="text-capitalize text-muted item-menu-semana"><small>{{evento.periodo[0].data | date: "EEEE" }}</small></span>
              </div>
            </li>
            <li class="btn vertical-center animacao" ng-class="{'active': click==3}" ng-click="click = 3">
              <div class="item-menu-periodo-evento">
                <span class="text-uppercase item-menu-mes">{{evento.periodo[0].data | date: "MMM" }}</span>
                <span class="item-menu-dia">{{evento.periodo[0].data | date: "dd" }}</span>
                <span class="text-capitalize text-muted item-menu-semana"><small>{{evento.periodo[0].data | date: "EEEE" }}</small></span>
              </div>
            </li>
            <li class="btn vertical-center animacao" ng-class="{'active': click==4}" ng-click="click = 4">
              <div class="item-menu-periodo-evento">
                <span class="text-uppercase item-menu-mes">{{evento.periodo[0].data | date: "MMM" }}</span>
                <span class="item-menu-dia">{{evento.periodo[0].data | date: "dd" }}</span>
                <span class="text-capitalize text-muted item-menu-semana"><small>{{evento.periodo[0].data | date: "EEEE" }}</small></span>
              </div>
            </li>
            <li class="btn vertical-center animacao" ng-class="{'active': click==5}" ng-click="click = 5">
              <div class="item-menu-periodo-evento">
                <span class="text-uppercase item-menu-mes">{{evento.periodo[0].data | date: "MMM" }}</span>
                <span class="item-menu-dia">{{evento.periodo[0].data | date: "dd" }}</span>
                <span class="text-capitalize text-muted item-menu-semana"><small>{{evento.periodo[0].data | date: "EEEE" }}</small></span>
              </div>
            </li>
          </ul>

          <div class="space-comprar">
            <div class="col-sm-5">
              <h4>Programação:</h4>
              <p>Aviões do Forró, Jonas Esticado, Maiara e Maraisa</p>
            </div>
            <div class="col-sm-7">
              <div class="table-responsive">
                <table class="table table-condensed table-categoria-ingresso" ng-init="qtd = 0; min = 0; max = 5">
                  <tr>
                    <td>Pista (1 lote)<br><span class="text-success">R$ 40,00</span></td>
                    <td class="box-qtd">
                      <div class="input-group qtd-ingressos">
                        <span class="input-group-addon menos btn" ng-click="qtd > min ? qtd = qtd-1 : qtd">-</span>
                        <input type="text" class="form-control text-center" value="{{qtd}}" min="{{min}}" max="{{max}}" readonly="">
                        <span class="input-group-addon mais btn" ng-click="qtd < max ? qtd = qtd+1 : qtd">+</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>VIP<br><span class="text-success">R$ 80,00</span></td>
                    <td class="box-qtd">
                      <div class="input-group qtd-ingressos">
                        <span class="input-group-addon menos btn">-</span>
                        <input type="text" class="form-control text-center" value="0" min="0" readonly="">
                        <span class="input-group-addon mais btn">+</span>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div style="clear: both"></div>

          <div class="text-right">
            <a href="#" class="btn text-danger">Limpar Carrinho</a>
            <a href="#" class="btn btn-evento-comprar">Comprar Ingressos</a>
          </div>
          <hr>

        </div>

      </div>
    </div>
    <div class="col-md-4">
      <h4>Galeria do evento:</h4>
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-galeria-evento">
            <li class="btn item-galeria-evento">
              <a href="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/19624386_1893404797579708_2276556589294944256_n.jpg" data-lightbox="galeria-evento">
                <img src="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/19624386_1893404797579708_2276556589294944256_n.jpg" alt="" class="img-responsive">
                <span class="item-zoom-galeria-evento vertical-center animacao"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>
              </a>
            </li>
            <li class="btn item-galeria-evento">
              <a href="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/18948258_107059333269194_7173078130054135808_n.jpg" data-lightbox="galeria-evento">
                <img src="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/18948258_107059333269194_7173078130054135808_n.jpg" data-lightbox="galeria-evento" alt="" class="img-responsive">
                <span class="item-zoom-galeria-evento vertical-center animacao"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>
              </a>
            </li>
            <li class="btn item-galeria-evento">
              <a href="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/c0.65.720.720/19761279_1907960666086741_7918927466184310784_n.jpg" data-lightbox="galeria-evento">
                <img src="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/c0.65.720.720/19761279_1907960666086741_7918927466184310784_n.jpg" data-lightbox="galeria-evento" alt="" class="img-responsive">
                <span class="item-zoom-galeria-evento vertical-center animacao"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>
              </a>
            </li>
            <li class="btn item-galeria-evento">
              <a href="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/c0.53.640.640/19624638_1084550881680082_1924491802144931840_n.jpg" data-lightbox="galeria-evento">
                <img src="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/c0.53.640.640/19624638_1084550881680082_1924491802144931840_n.jpg" data-lightbox="galeria-evento" alt="" class="img-responsive">
                <span class="item-zoom-galeria-evento vertical-center animacao"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>
              </a>
            </li>
            <li class="btn item-galeria-evento">
              <a href="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/19624466_457475487944090_7326891045046714368_n.jpg" data-lightbox="galeria-evento">
                <img src="https://scontent-gru2-2.cdninstagram.com/t51.2885-15/s320x320/e35/19624466_457475487944090_7326891045046714368_n.jpg" data-lightbox="galeria-evento" alt="" class="img-responsive">
                <span class="item-zoom-galeria-evento vertical-center animacao"><i class="fa fa-search fa-2x" aria-hidden="true"></i></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="padding: 50px">

</section>

<btn-ajuda></btn-ajuda>
